body{
	margin: 0;
	background-image: linear-gradient(left-top, violet, indigo, violet);
	background-size: cover;
	background-repeat: no-repeat; 
	
}

.formulaire{
	position: absolute;
	background-image: url(images/image5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 480px;
	margin-top: 50px;
	font-size: large;
	box-sizing: border-box;
	background-color: gray;
	border: 1px solid white;
	border-radius: 15px;
	padding: 10px;
	justify-content: center;

}

.formulaire p{
	margin: 0px;
	color: black;
	font-weight: bold;
}

.formulaire input,select{
	margin-bottom: 10px;
	width: 100%;

}

.login{
	position: absolute;
	background-image: url(images/image6.jpg);
	background-size: cover;
	margin-left: 550px;
	margin-top: 150px;
	font-size: large;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 15px;
	padding: 10px;
	height: 350px;
	width: 250px;
}
.titre{
	text-align: center;
	font-weight: bold;
}


