body{
	margin: 0;
	background-color: black;

}
#container{
	display: flex;
	justify-content: space-around;
	background-color: white;
	height: 500px;
	width: 600px;
}
#minidiv{
	display: flex;
	align-self: center;
	justify-content: space-around;
	flex-direction: column;
	height: 300px;
	width: 400px;
	border: 5px solid red;
}
#minidiv1{
	background-color: lightblue;
	align-self: center;
	justify-content: space-around;
	height: 40px;
	width: 380px;
}

#minidiv2{
	background-color: lightblue;
	align-self: center;
	height: 180px;
	width: 180px;
}
#minidiv3{
	background-color: lightblue;
	align-self: center;
	justify-content: space-around;
	height: 40px;
	width: 380px;
}
