@import url("https: //fonts.googleapis.com/css2?family=Oswald&display=swap");

#position{
  display: flex;
  justify-content: center;
  margin-top: 130px;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 25px;
}
body{
  background-image: url("Netflix.jpeg");
}
.login h3{
  margin-right: 100px;
}

form h4{
  margin-top: 50px;
  margin-right: 20px;
}

form p{
  text-align: center;
  padding: 10px;
}
h4{
  margin-top: 40px;
}

.login{
  margin-left: 500px;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  width: 250px;
  height: 400px;
  text-align: center;
  border-radius: 40px;
}

input{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
button{
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 50%;
  background-color: #fef9d7;
}
.movies{
  margin-left: 500px;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  width: 250px;
  height: 400px;
  text-align: center;
  border-radius: 40px;
  opacity: 90%;
}
.movies li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: #272727;
}
.movies li img {
  max-width: 300px;
  border-radius: 12px;
}
.movies li h2 {
  color: #fff;
  font-size: 1.8em;
  padding: 15px 10px 0;
  margin-top: auto;
  font-family: "Oswald", sans-serif;
}